/* start navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .1rem;
    background-color: rgba(0,0,0,0.8)!important;
  }
  .navbar-brand img {
    height: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: red;
  }
  
  /* end navigation */
  /* Start HERO HEADER */
  .cover {
      position: relative;
      width: 100%;
      height: 100vh;
      display: table;
      z-index: -1;
    }
    .content {
      clip: rect(0, auto, 100vh, 0);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .content-inner {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 3;
      background-size: cover;
      background-position: center center;
      background-image: url(../images/pexels-soumil-kumar-735911.jpg) ;
    }
  .Heading{
      width: 100%;
      top: 40%;
      position: absolute;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      z-index: 1;
  }
  .Heading h1 {
      letter-spacing: .4rem;
      padding-bottom: 1rem;
      text-shadow:  3px 3px 3px black;
  }
  .button{
      background-color: black;
      border: 1px solid white;
      opacity: .5;
      border-radius: 2px;
      padding: 16px 32px 16px 32px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;
  }
  /* END HERO HEADER */
  